{% extends "FGSGestionComptesBundle::layout.html.twig" %}

{% block title %}Ajout d'une dépense Planifiée{% endblock %}

{% block modal %}
<div class="modal" id="date">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock %}

{% block contenu %}
<section class='container-fluid'>
	<h1 class="page-header">{% block titre_contenu %}Ajout d'un dépense Planifié{% endblock %}</h1>
	{{ form(form) }}
</section>
{% endblock %}



{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/fgsbootstrap/css/datepicker3.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/fgsgestioncomptes/css/mouvementsplanifies/ajouter-depense-ou-revenu-planifie.css') }}">
{% endblock %}




{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fgsbootstrap/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/fgsbootstrap/js/locales/bootstrap-datepicker.fr.js') }}"></script>
<script src='{{ asset('bundles/fgsgestioncomptes/js/mouvementsplanifies/ajouter-depense-ou-revenu-planifie.js') }}'></script>
{% endblock %}
