{% extends "FGSGestionComptesBundle::layout.html.twig" %}

{% block title %}Ajout d'une dépense Planifiée{% endblock %}

{% block contenu %}
<section class='container-fluid'>
	<h1 class="page-header">{% block titre_contenu %}Ajout d'un dépense Planifié{% endblock %}</h1>
	{{ form(form) }}
</section>
{% endblock %}



{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/fgsbootstrap/css/datepicker3.css') }}">
<style>
.datepicker.dropdown-menu th,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.datepicker-inline td {
  padding: 4px 15px;
}
.modal-content
{
	margin-right: auto;
	margin-left: auto;
	width: 342px;
}
</style>
{% endblock %}




{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/fgsbootstrap/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/fgsbootstrap/js/locales/bootstrap-datepicker.fr.js') }}"></script>
<script>
$('#fgs_gestioncomptesbundle_mouvementfinancierplanifie_dateInitiale').datepicker({
		orientation: "auto right",
	    autoclose: true,
	    todayHighlight: true,
	    language: "fr",
}).on('show',function(e){

	if ($(document).width() < 480)
	{	
		$(this).datepicker('hide');
		$('#date .modal-content').datepicker({
			orientation: "auto right",
		    autoclose: true,
		    todayHighlight: true,
		    language: "fr",
		}).on('changeDate',function(e){
			$('#fgs_gestioncomptesbundle_mouvementfinancierplanifie_dateInitiale').datepicker('setDate', $(this).datepicker('getDate'));
			$('#date').modal('hide');
		});
		$('#date').modal('show');
	}
});

</script>
{% endblock %}
