{% extends "FGSGestionComptesBundle::layout.html.twig" %}

{% block title %}Visualisation de vos comptes{% endblock %}

{% block contenu %}

{% for compte in listeComptes %}
	<div class='row'>
	<div class="col-md-1 col-xs-2" class="height: 38px;">
		<img src="{{ asset('bundles/fgsgestioncomptes/'~compte.banque.urlImage) }}" style="height: 32px; margin-top: 22px; margin-bottom:12" />
	</div>
	<div class="col-md-11 col-xs-10"><h1><a href="{{ path('fgs_gestion_comptes_visualiser_mouvement_financier_compte', {'id':compte.id}) }}">{{ compte.nom }}<span class="label {{ compte.montantActuel < 0 ? 'label-danger':'label-success' }} pull-right">{{ compte.montantActuel|number_format(2, ',', ' ') }} €</span></a></h1></div>

	</div>
	{% if compte.mouvementFinanciers is not empty %}
	<table class="table table-striped ">
		<thead>
			<tr>
				<th></th>
				<th>
					Date
				</th>
				<th>
					Libellé
				</th>
				<th>
					Catégorie
				</th>
				<th class="text-right">
					Montant
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for mouvementFinancier in compte.mouvementFinanciers %}
			<tr>
				<td>{% if mouvementFinancier.checkBanque%}<a href="{{ path('fgs_gestion_comptes_check_mouvement_financier', {'id':mouvementFinancier.id}) }}" class='btn btn-xs text-success'><span class='glyphicon glyphicon-ok'></span></a>{% else %}<a href="{{ path('fgs_gestion_comptes_check_mouvement_financier', {'id':mouvementFinancier.id}) }}" class='btn btn-xs text-warning'><span class='glyphicon glyphicon-ok'></span></a>{% endif %}</td>
				<td>{{ mouvementFinancier.date|date("d/m/Y") }}</td>
				<td>{% if mouvementFinancier.commentaire %}<span class='glyphicon glyphicon-tag' data-toggle='tooltip' title='{{ mouvementFinancier.commentaire }}'></span> {% endif %}{{ mouvementFinancier.libelle }}</td>
				<td><p class='label {{ mouvementFinancier.montant > 0 ? 'label-success':'label-warning' }} categorie-mf'><span class=' text-center glyphicon {{ mouvementFinancier.categorieMouvementFinancier.icone }}'></span> {{ mouvementFinancier.categorieMouvementFinancier.libelle }}</p></td>
				<td class="text-right">{{ mouvementFinancier.montant }} €</td>
				<td class='text-right'>
					<a href='{{ path('fgs_gestion_comptes_modifier_mouvement_financier', {'id':mouvementFinancier.id}) }}' class='btn btn-info btn-xs'><span class='glyphicon glyphicon-pencil'></span></a> 
					<a href='{{ path('fgs_gestion_comptes_supprimer_mouvement_financier', {'id':mouvementFinancier.id}) }}' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-remove'></span></a>
				</td>
			</tr>
			{% endfor %}
			<caption style="caption-side: bottom; text-align:right;">Vos 2 dernières transactions</caption>
		</tbody>
	</table>
	{% else %}
	<p class='well well-sm' style='background-color:#f9f9f9;'>Aucune transaction n'a encore été réalisé sur ce compte<p>
	{% endif %}
	{% if loop.last != true %}
	<hr style="margin: 10px 0px;"/>
	{% endif %}
{% endfor %}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/fgsgestioncomptes/css/iconset/daily-life.css') }}">
<style>
.categorie-mf {
	font-size:90%; font-weight: normal;
}

</style>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
{% endblock %}