{% extends "FGSGestionComptesBundle::layout.html.twig" %}

{% block title %}Visualisation de vos comptes{% endblock %}

{% block contenu %}
	{% for compte in listeComptes %}
		<div class='col-lg-6'>
			<div class='panel panel-{{ compte.montantActuel < 0 ? 'danger':'primary' }}'>
				<div class='panel-heading'>
					<div class="btn-group pull-right" style="margin-top: 10.5px;">
						<a type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-option-vertical"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fgs_gestion_comptes_visualiser_mouvement_financier_compte', {'id':compte.id}) }}">Visualiser tout les mouvements du comptes </a></li>
							<li><a href="{{ path('fgs_gestion_comptes_visualiser_mouvement_financier_compte_mois',{'id':compte.id}) }}">Visualisation du mois en cours</a></li>
							<li><a href="{{ path('fgs_gestion_comptes_visualiser_mouvement_financier_compte_annee',{'id':compte.id}) }}">Visualisation de l'année en cours</a></li>
						</ul>
					</div>
					<h2>
						<img src="{{ asset('bundles/fgsgestioncomptes/'~compte.banque.urlImage) }}" style='height:32px; margin-bottom:10.5px;'/>
						<a href="{{ path('fgs_gestion_comptes_visualiser_mouvement_financier_compte', {'id':compte.id}) }}">
							{{ compte.nom }}
						</a>
					</h2>
					<div class="clearfix"></div>
				</div>
				<div class='panel-body'>
					{% if compte.mouvementFinanciers is not empty %}
						{{ include('FGSGestionComptesBundle:Utils:tableau_mouvement_financier.html.twig', { 'liste_mouvement_financier' : compte.mouvementFinanciers, 'caption_bottom': 'Vos 2 dernières transactions' }) }}
					{% else %}
					<p>Aucune transaction n'a encore été réalisé sur ce compte<p>
					{% endif %}
				</div>
				<div class='panel-footer'>
					<h3 class=" {{ compte.montantActuel < 0 ? 'text-danger':'text-success' }} text-right">
						<small>Total : </small>{{ compte.montantActuel|number_format(2, ',', ' ') }} €
					</h3>
				</div>
			</div>
		</div>
		{% if loop.index is even %}<div class='clearfix'></div>{%  endif %}
	{% endfor %}
	
	{{- render(controller('FGSGestionComptesBundle:Mouvements:genererFormsCheckAndDelete')) -}}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/fgsgestioncomptes/css/iconset/daily-life.css') }}">
<style>
.categorie-mf {
	font-size:90%; font-weight: normal;
}
.text-muted {
	color: #999 !important;
}
.panel .panel-heading h1, .panel .panel-heading h2, .panel .panel-heading h3, 
.panel .panel-footer h1, .panel .panel-footer h2, .panel .panel-footer h3
{
	margin: 0px;
}
</style>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src='{{ asset('bundles/fgsgestioncomptes/js/activate-tooltip.js') }}'></script>
<script src='{{ asset('bundles/fgsgestioncomptes/js/check-or-delete-mf.js') }}'></script>
{% endblock %}
