<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	 	<meta name="viewport" content="width=320px, initial-scale=1, maximum-scale=1" />
	 	
	 	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/apple-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/apple-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/apple-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/apple-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-icon-180x180.png') }}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('img/android-icon-192x192.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon-96x96.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('img/manifest.json') }}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ asset('img/ms-icon-144x144.png') }}">
		<meta name="theme-color" content="#ffffff">
		
		<title>{% block title %}{% endblock %}</title>

		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		{% endblock %}
	</head>

	<body>
		<div class="container">
			<div class='text-center'  style='margin-top:50px;'>
				<img src="{{ asset('img/logo.png') }}" id='logo'>
				<h1>Ma petite Tirelire</h1>
			</div>	
				
			<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	
				<div class="panel panel-primary">
					<div class="panel-heading">
						{% block panel_heading %}{% endblock %}
					</div>
					<div class="panel-body">
			    		{% block panel_body %}{% endblock %}
			    		{% block fos_user_content %}{% endblock %}
					</div>
				</div>
			</div>
	
			</div>
		</div>
		{% block javascripts %}
			<script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endblock %}
	
	</body>
</html>