{% set page_courante = app.request.attributes.get('_route') %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('fgs_gestion_comptes_homepage') }}">
				<img alt="ma-petite-tirelire.fr" src="{{ asset('img/logo.png') }}" id="logo">
			</a>
		</div>


		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li {{ (page_courante == 'fgs_gestion_comptes_ajouter_compte' or page_courante == 'fgs_gestion_comptes_gerer_compte') ? "class='active'" }}>
					<a href="#" data-toggle="dropdown">Mes comptes <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li {{ page_courante =='fgs_gestion_comptes_ajouter_compte' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_ajouter_compte') }}">Ajouter un compte</a></li>
						<li {{ page_courante =='fgs_gestion_comptes_gerer_compte' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_gerer_compte') }}">Gérer mes comptes</a></li>
					</ul>
				</li>
				<li {{ (page_courante == 'fgs_gestion_comptes_ajouter_categorie' or page_courante == 'fgs_gestion_comptes_gerer_categories') ? "class='active'" }}>
					<a href="#" data-toggle="dropdown">Categories <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li {{ page_courante == 'fgs_gestion_comptes_ajouter_categorie' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_ajouter_categorie') }}">Ajouter une catégorie</a></li>
						<li {{ page_courante == 'fgs_gestion_comptes_gerer_categories' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_gerer_categories') }}">Gerer mes categories</a></li>
					</ul>
				</li>
				<li {{ page_courante == 'fgs_gestion_comptes_ajouter_depense' ? "class='active'" }}>
					<a href="{{ path('fgs_gestion_comptes_ajouter_depense') }}">Dépense</a>
				</li>
				<li {{ page_courante == 'fgs_gestion_comptes_ajouter_revenu' ? "class='active'" }}>
					<a href="{{ path('fgs_gestion_comptes_ajouter_revenu') }}" >Revenu</a>
				</li>
				<li {{ (page_courante == 'fgs_gestion_comptes_ajouter_depense_planifiee' or page_courante == 'fgs_gestion_comptes_ajouter_revenu_planifie'  or page_courante == 'fgs_gestion_comptes_voir_mouvements_planifies') ? "class='active'" }}>
					<a href="#" data-toggle="dropdown">Planifier <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li {{ page_courante == 'fgs_gestion_comptes_ajouter_depense_planifiee' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_ajouter_depense_planifiee') }}">Ajouter une dépense planifiée</a></li>
						<li {{ page_courante == 'fgs_gestion_comptes_ajouter_revenu_planifie' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_ajouter_revenu_planifie') }}">Ajouter un revenu planifié</a></li>
						<li {{ page_courante == 'fgs_gestion_comptes_voir_mouvements_planifies' ? "class='active'" }}><a href="{{ path('fgs_gestion_comptes_voir_mouvements_planifies') }}">Visualiser mes planifications</a></li>
					</ul>
				</li>
			</ul>
					
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
			</ul>
		</div>
	</div><!-- /.container-fluid -->
</nav>
