{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<h4 class="text-center">Connexion</h4>
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 ">
	<div class="panel panel-default" id='login'>
		<div class="panel-body">
		
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<img src="{{ asset('img/logo.png') }}" class='text-center img-responsive' class='logo'>
				</div>
			</div>
			
			{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<div class="row">
				<div class="col-xs-12">
					<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
					    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
					
							<div class="form-group">
							    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
							    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
							</div>
		
							<div class="form-group">
							    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
							    <input type="password" id="password" name="_password" required="required" class="form-control"/>
							</div>
		
							<div class="form-group">
							    <input type="checkbox" id="remember_me" name="_remember_me" value="on"  class=""/>
							    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
							</div>

							<div class="form-group">
								<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block" />
							</div>
					</form>
				</div>
			</div>
			{% else %}
				<div class="row text-center"  style="margin-top: 15px;">
					{{ 'layout.logged_in_as'|trans({'%username%': app.user.username|title}, 'FOSUserBundle') }} 
				</div>
				<div class="row"  style="margin-top: 15px;">
					<div class="col">
						<a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary btn-block">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock fos_user_content %}





{% block stylesheets %}
{{  parent()  }}
<style>
#login {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 15px;
}
body{
background-color: #e4f8ff;
}
</style>
{% endblock %}
