{% extends "FOSUserBundle::layout.html.twig" %}

{% block panel_heading %}Connexion{% endblock %}

{% block panel_body %}
		
	{% if error %}
		<div class="alert alert-danger alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			<span class="glyphicon glyphicon-warning-sign"></span> {{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}

	{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	
		<form action="{{ path("fos_user_security_check") }}" method="post" >
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		
			<div class="form-group">
			    {#<label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>#}
			    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }} / Mail"/>
			</div>
		
			<div class="form-group">
			    {#<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>#}
			    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"/>
			</div>
		
			<div class="form-group">
			    <input type="checkbox" id="remember_me" name="_remember_me" value="on"  class=""/>
			    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
			</div>
		
			<div class="form-group">
				<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block" />
			</div>
		</form>
		
		<hr />
		<div>
			<p>
				<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
			</p>
			<p>
				Vous n'avez pas encore de compte ? <br />
				<a href="{{ path('fos_user_registration_register') }}">Créer un nouveau compte</a>
			<p>
		</div>
		
	{% else %}
		<div class="row text-center"  style="margin-top: 15px;">
			{{ 'layout.logged_in_as'|trans({'%username%': app.user.username|title}, 'FOSUserBundle') }} 
		</div>
		<div style="margin-top: 15px;">
			<a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary btn-block">
				{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
			</a>
		</div>
	{% endif %}
{% endblock %}
