{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} : Nouveau compte validée{% endblock %}

{% block panel_heading %}</h2>Nouveau compte validé</h2>{% endblock %}

{% block panel_body %}
	<p class="text-justify">
    	{{ 'registration.confirmed'|trans({'%username%': user.username}) }}
    	<p class='text-center' style='margin-top:50px;'>
    		<a href="{{ path('fgs_gestion_comptes_homepage') }}" class='ma-petite-tirelire'>Se rendre sur la page principale</a>
    	</p>
    </p>
{% endblock %}

{% block panel_footer %}
    {% if targetUrl %}
    <p class="text-justify">
    	<a href="{{ targetUrl }}">
    	{{ 'registration.back'|trans }}</a>
    </p>
    {% endif %}
{% endblock %}
