{% extends "FOSUserBundle::layout.html.twig" %}

{% block meta %}{{ parent() }}
		<meta name="description" content="Enregistrez-vous sur &laquo;Ma petite tirelire&raquo; et commencez à faire vos comptes en ligne." />
		<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ parent() }} : Création de votre nouveau compte{% endblock %}

{% block panel_heading %}<h2>Création <small> de votre nouveau compte</small></h2>{% endblock %}


{% block panel_body %}
	<p class="text-justify">
		Inscrivez-vous en quelques instants !
	</p>
	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		<div class="form-group {% if form.email.vars.errors|length > 0 %}has-error{% endif %}">
			{{ form_label(form.email) }}
			{{ form_widget(form.email, { 'attr': {'placeholder': 'form.email'|trans } }) }}
			{{ form_errors(form.email) }}
		</div>
		<div class="form-group {% if form.username.vars.errors|length > 0  %}has-error{% endif %}">
			{{ form_label(form.username) }}
			{{ form_widget(form.username, { 'attr': {'placeholder': 'form.username'|trans } }) }}
			{{ form_errors(form.username) }}
		</div>
		<div class="form-group {% if form.plainPassword.first.vars.errors|length > 0  %}has-error{% endif %}">
			{{ form_label(form.plainPassword.first) }}
			{{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'form.password'|trans } }) }}
			{{ form_errors(form.plainPassword.first) }}
		</div>
		<div class="form-group {% if form.plainPassword.second.vars.errors|length > 0  %}has-error{% endif %}">
			{{ form_label(form.plainPassword.second) }}
			{{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'form.password_confirmation'|trans } }) }}
			{{ form_errors(form.plainPassword.second) }}
		</div>
		{{ form_rest(form) }}
		<div class="form-group">
			<input type="submit" id="_submit" name="_submit" value="S'enregistrer"  class="btn btn-primary btn-block"  />
	    </div>
	</form>
{% endblock %}

{% block panel_footer %}
	<a href={{ path('fos_user_security_login') }}>Retour à la page de connexion.</a>
{% endblock %}
