{% extends "FGSGestionComptesBundle::layout.html.twig" %}

{% block title %}Visualisation des données d'un compte{% endblock %}

{% block contenu %}
	<div class='row'>
		<div class="col-md-1 col-xs-2" class="height: 38px;">
			<img src="{{ asset('bundles/fgsgestioncomptes/'~compte.banque.urlImage) }}" style="height: 32px; margin-top: 22px; margin-bottom:12" />
		</div>
		<div class="col-md-11 col-xs-10">
			<h1>{{ compte.nom }}<span class="label {{ compte.montantActuel < 0 ? 'label-danger':'label-success' }} pull-right">{{ compte.montantActuel|number_format(2, ',', ' ') }} €</span></h1>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-9'>
			{% if compte.mouvementFinanciers is not empty %}
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Visualisation de {{ date|date('M Y') }}</div>
				<table class="table table-striped ">
					<thead>
						<tr>
							<th></th>
							<th>
								Date
							</th>
							<th>
								Libellé
							</th>
							<th>
								Catégorie
							</th>
							<th class="text-right">
								Montant
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for mouvementFinancier in compte.mouvementFinanciers %}
						<tr>
							<td>{% if mouvementFinancier.checkBanque%}<a href="{{ path('fgs_gestion_comptes_check_mouvement_financier', {'id':mouvementFinancier.id}) }}" class='btn btn-xs text-success'><span class='glyphicon glyphicon-thumbs-up'></span></a>{% else %}<a href="{{ path('fgs_gestion_comptes_check_mouvement_financier', {'id':mouvementFinancier.id}) }}" class='btn btn-xs text-muted'><span class='glyphicon glyphicon-thumbs-down'></span></a>{% endif %}</td>
							<td>{{ mouvementFinancier.date|date("d/m/Y") }}</td>
							<td>{% if mouvementFinancier.commentaire %}<span class='glyphicon glyphicon-tag' data-toggle='tooltip' title='{{ mouvementFinancier.commentaire }}'></span> {% endif %}{{ mouvementFinancier.libelle }}</td>
							<td><p class='label {{ mouvementFinancier.montant > 0 ? 'label-success':'label-warning' }} categorie-mf'><span class=' text-center glyphicon {{ mouvementFinancier.categorieMouvementFinancier.icone }}'></span> {{ mouvementFinancier.categorieMouvementFinancier.libelle }}</p></td>
							<td class="text-right">{{ mouvementFinancier.montant|localizedcurrency('EUR') }}</td>
							<td class='text-right'>
								<a href='{{ path('fgs_gestion_comptes_modifier_mouvement_financier', {'id':mouvementFinancier.id}) }}' class='btn btn-info btn-xs'><span class='glyphicon glyphicon-pencil'></span></a> 
								<a href='{{ path('fgs_gestion_comptes_supprimer_mouvement_financier', {'id':mouvementFinancier.id}) }}' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-remove'></span></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class='col-md-3'>
			<div class="panel panel-default">
			<!-- Default panel contents -->
				<div class="panel-heading">Répartition Mensuelle Dépenses</div>
				<div class="panel-body">
				<div>
					<canvas id="canvas-categorie-totaux" width="2" height="2"/>
				</div>
				</div>
			</div>
			<div class="panel panel-default " style='background-color : #43ac6a;'>
				<div class="panel-body" style='color : #fff;'>
					<h6 class='text-right'>
						Revenu Mensuel : 
					</h6>
					<p class='text-right'>{{ totalRevenu }}</p>
				</div>
			</div>
			<div class="panel panel-default " style='background-color : #E25041'>
				<div class="panel-body" style='color : #fff;'>
					<h6 class='text-right'>
						Dépense Mensuel : 
					</h6>
					<p class='text-right'>{{ totalDepense }}</p>
				</div>
			</div>
		</div>

		</div>
	{% else %}
		<p class='well well-sm' style='background-color:#f9f9f9;'>Aucune transaction n'a encore été réalisé sur ce compte ce mois ci.<p>
	{% endif %}


{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/fgsgestioncomptes/css/iconset/daily-life.css') }}">
	<style>
	.categorie-mf {
		font-size:90%; font-weight: normal;
	}
	#canvas-categorie-totaux
	{
		with: 100%;
	}
	</style>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/fgsgestioncomptes/js/Chart.js') }}"></script>
	<script>
	
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip();
	})
	
	var dataCanvas = [
		{% for totalCategorie in totauxParCategorie %}
			{% if totalCategorie['total'] < 0  %}
			{
				value: {{ totalCategorie['total']|abs  }},
				color:"#F7464A",
				highlight: "#FF5A5E",
				label: "{{ totalCategorie['libelle_categorie'] }}"
			}
			{% if loop.last == false %},{% endif %}
			{% endif %}
		{% endfor %}
	];
	var confCanvas = {responsive : true};
	
	{# tooltipTemplate : "<%if (label){%><%=label%>: <%}%><%= value %> Euros", #}
	
	window.onload = function(){
		var ctx = document.getElementById("canvas-categorie-totaux").getContext("2d");
		window.myDoughnut = new Chart(ctx).Doughnut(dataCanvas, confCanvas);
	};

	
	</script>
{% endblock %}